html,
body {
  font-family: 'Pretendard';
  font-weight: 400;
  line-height: 1.34;
  font-size: 16px;
  word-break: keep-all;
}

.maintain-br {
  br {
    all: unset !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
b,
strong {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-family: 'Pretendard';
  font-size: 3.125rem; //50px;
}

h2 {
  font-size: 2.125rem; //34px;
}

h3 {
  font-size: 1.5rem; //24px;
}

h4 {
  font-size: 1.375rem; //22px;
}

h5 {
  font-size: 1.25rem; //20px;
}

h6 {
  font-size: 1.125rem; //18px;
}

p {
  font-size: 1rem; //14px;
}

b {
  font-weight: 500;
}

a {
  color: $body-text;
  text-decoration: none;
}

small {
  font-size: 0.75rem;
}

.bold,
.bold * {
  font-weight: 600 !important;
}

.weight-900 {
  font-weight: 900;
}

.primary {
  color: $primary;
}

.pointer {
  cursor: pointer;
}

.black {
  color: $primary;
}

.title-text {
  color: $primary;
}

.primary-hover {
  transition: color 150ms ease-in-out;

  &:hover {
    color: $primary;
  }
}

.to-color-white-hover {
  transition: color 150ms ease-in-out;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.body-text {
  color: $body-text;
}

.warnning {
  color: $danger;
}

.white {
  color: $white;
}

.uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-end {
  text-align: end;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.break-word {
  word-break: break-word;
}

.break-all {
  word-break: break-all;
}

.line-height-1-5 {
  line-height: 1.5;
}

.line-height-24 {
  line-height: 24px;
}

@for $i from 0 through 900 {
  .font-weight-#{$i} {
    font-weight: #{$i};
  }
}

@for $i from 0 through 60 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 0 through 60 {
  .font-size-rem-#{$i} {
    font-size: #{$i}rem;
  }
}


.text-wrap {
  word-wrap: break-word;
}
.headline-large {
  font: {
    family: 'Pretendard';
    weight: 600 !important;
    size: 1.75rem; //28px;
  }

}
.headline-medium {
  font: {
    family: 'Pretendard';
    weight: 600 !important;
    size: 1.5rem; //24px;
  }
}
.headline-medium {
  font: {
    family: 'Pretendard';
    weight: 600 !important;
    size: 1.25em; //20px;
  }
}
.title-large {
  font: {
    family: 'Pretendard';
    weight: 600 !important;
    size: 1.125rem; //18px;
  }
}
.title-medium {
  font: {
    family: 'Pretendard';
    weight: 500 !important;
    size: 1rem; //16px;
  }
}
.title-small {
  font: {
    family: 'Pretendard';
    weight: 500 !important;
    size: 0.875rem; //14px;
  }
}

.label-large {
  font: {
    family: 'Pretendard';
    weight: 500 !important;
    size: 0.875rem; //14px;
  }
}
.label-medium {
  font: {
    family: 'Pretendard';
    weight: 500 !important;
    size: 0.75rem; //12px;
  }
}
.label-small {
  font: {
    family: 'Pretendard';
    weight: 500 !important;
    size: 0.625rem; //10px;
  }
}
.body-large {
  font: {
    family: 'Pretendard';
    weight: 400 !important;
    size: 1rem; //16px;
  }
}
.body-medium {
  font: {
    family: 'Pretendard';
    weight: 400 !important;
    size: 0.875rem; //14px;
  }
}
.body-small {
  font: {
    family: 'Pretendard';
    weight: 400 !important;
    size: 0.75rem; //12px;
  }
}