.on-going-campaign-item-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1.5rem;
  @extend .gap-20;
  .item-image {
    width: 4.5rem;
    border-radius: 4px;
    background: #548fcc;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .item-info-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    .title-wrapper {
      display: flex;
      flex-direction: column;
      .organization-wrapper {
        display: flex;
        @extend .gap-4;
        .organization-icon {
          align-items: center;
          justify-content: center;
        }
        .organization-label {
          @extend .body-small;
          color: $title-text;
        }
      }
      .title {
        @extend .overflow-ellipsis;
        @extend .title-small;
        color: $title-text;
      }
    }
    .etc-wrapper {
      display: flex;
      flex: 1;
      align-items: flex-end;
      width: 100%;
      .rate-amount-wrapper {
        display: flex;
        @extend .gap-8;
        .rate {
          @extend .body-small;
          color: $title-text;
        }
        .amount {
          @extend .body-small;
          color: $title-text;
        }
      }
      .remaining-period {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        @extend .body-small;
        color: $caption
      }
    }
  }
}