.footer-wrapper {
  border-top: $out-line 1px solid;
  background: white;
  display: flex;
  flex-direction: column;
  @extend .padding-24;
  .footer-terms-privacy-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    @extend .bottom-24;
    @extend .gap-8;
    .terms-privacy-label {
      @extend .body-small;
      color: $caption;
    }
  }
  .business-information-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .business-information-label{
      @extend .body-small;
      color: $title-text;
    }
  }
  .copyright-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    @extend .bottom-24;
    .copyright-label{
      @extend .body-small;
      color: $title-text;
    }
  }
  .icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    @extend .gap-8
  }
}
