.nav-wrapper {
  height: 4rem;
  width: 100%;
  .nav {
    .logout {
      border: $out-line 1px solid;

      &:hover {
        outline: $out-line 1px solid;
      }
    }
    .hamburger {
      align-items: center;
      justify-content: end;
      border: none;
    }
  }
}
.subtitle-wrapper {
  width: 100%;
  @extend .row;
  align-items: flex-start;
  .subtitle {
    font-size: 2rem;
    span {
      @extend .left-8;
    }
  }
  .description {
    font-size: 1rem;
    color: $body-text;
  }
}
.activate-menu {
  transform: translateX(-100%);
  opacity: 1;

}

.menu-wrap {
  display: block;
  position: absolute;
  height: 100%;
  .menu-wrap-rel {
    position: relative;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0.5s;
    background-color: #1f1e1ce6;
  }
  .menu-list-wrapper {
    // height: 120vh;
    // padding-top: 70px;
    .menu-list {
      font-size: 20px;
    }
    :hover {
      color: $primary;
    }
  }
}