.act-button {
  border-radius: 4px;
  @extend .relative;
  .act-button-chip {
    @extend .absolute;
    top: -0.5rem;
    left: 1.5rem;
  }
}

.primary-button-x-large {
  @extend .act-button;
  width: 100%;
  height: 3.5rem;
  @extend .body-large;
  color: $white;
  background: $primary;
  &:disabled {
    color: $title-text;
    background: $disable-bg;
  }
}
.primary-button-large {
  @extend .act-button;
  width: 100%;
  height: 3rem;
  @extend .body-large;
  color: $white;
  background: $primary;
  &:disabled {
    color: $title-text;
    background: $disable-bg;
  }
}

.primary-button-large-outline {
  @extend .act-button;
  width: 100%;
  height: 3rem;
  @extend .body-large;
  color: $primary;
  background: $out-line;
  &:disabled {
    color: $title-text;
    background: $disable-bg;
  }
}

.tertiary-button-x-large {
  @extend .act-button;
  width: 100%;
  height: 3.5rem;
  @extend .body-large;
  color: $title-text;
  background: $tertiary;
  &:disabled {
    color: $white;
    background: $disable-bg;
  }
}

.tertiary-button-large {
  @extend .act-button;
  width: max-content;
  @extend .padding-row-16;
  height: 3rem;
  @extend .body-large;
  color: $title-text;
  background: $tertiary;
  &:disabled {
    color: $white;
    background: $disable-bg;
  }
}
.button-medium {
  @extend .act-button;
  width: max-content;
  @extend .padding-row-12;
  height: 2.5rem;
  @extend .body-large;
  color: $white;
  background: $primary;
  &:disabled {
    color: $white;
    background: $disable-bg;
  }
}
.button-small {
  @extend .act-button;
  width: max-content;
  @extend .padding-row-8;
  height: 2rem;
  @extend .body-medium;
  color: $white;
  background: $primary;
  &:disabled {
    color: $white;
    background: $disable-bg;
  }
}
.button-small-outline {
  @extend .act-button;
  width: max-content;
  @extend .padding-row-8;
  height: 2rem;
  @extend .body-medium;
  color: $primary;
  background: $white;
  @extend .bordered;
  &:disabled {
    color: $disable-bg;
    background: $white;
  }
}