.text-container {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: $primary;
  display: table-cell;
  text-align: flex-start;
  vertical-align: middle;
  word-break: keep-all;
}